*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

body {
  --background-color: #1a1a1a;
  --primary-color: #55e8bc;
  --secondary-color: #f4f4f4;
  --topic-font-size: 2rem;
  --skill-font-color: #e0e0e0;
  --skill-font-size: 1.5rem;
  --content-max-width: 1500px;
  --content-min-height: 1100px;
  --tech-box-background-color: #484949;
  --spacing: 1rem;
  --spacing-sm: 0.5rem;
  --spacing-lg: 2rem;
  --spacing-larger: 4rem;
  font-family: "Mada", sans-serif;
}

.main {
  background-color: var(--background-color);
  /* min-height: 100vh; */
  padding-bottom: 3rem;
}

.projects-page {
  padding: 3rem 0;
  min-height: 750px;
  position: relative;
}

.skills-page {
  padding: 4rem 0;
}

.landing-page {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 730px) {
  .landing-page {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
