.icon-container {
  display: flex;
  justify-content: space-between;
}

.icon-container img:hover {
  box-shadow: 0 0 5px 1px var(--primary-color);
}

.icon {
  margin: 0 .5rem;
  transform: scale(0.9);
}
