.icon-container {
  display: flex;
  justify-content: space-between;
}

.icon-container img:hover {
  box-shadow: 0 0 5px 1px var(--primary-color);
}

.icon {
  margin: 0 .5rem;
  transform: scale(0.9);
}
/* .icon-container img {
  margin-right: 1rem;
} */

/* @media (max-width: 1000px) {
  .icon-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 1rem auto;
    left: auto;
    display: relative;
  }
} */