.icon-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

a {
  height: 1.7rem;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-left: var(--spacing-sm);
}

@media (min-width: 768px) {
}
