.logo-container {
  position: fixed;
  width: 100%;
  padding: var(--spacing);
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: var(--background-color);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .logo-container {
    padding: var(--spacing) var(--spacing-lg);
  }
}
