.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 1000px;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: var(--content-max-width);
}

.topic {
  font-size: var(--topic-font-size);
  color: var(--skill-font-color);
  letter-spacing: 5px;
}

.bar {
  height: 3px;
  width: 30%;
  min-width: 250px;
  background-color: var(--primary-color);
  /* box-shadow: 0 0 10px 0 var(--primary-color); */
}

.table_container {
  width: 100%;
  margin-top: 4rem;
  color: var(--skill-font-color);
  font-size: var(--skill-font-size);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre_container {
  width: 100%;
}

.genre {
  text-transform: uppercase;
  color: var(--skill-font-color);
  /* width: 10%; */
  width: fit-content;
  /* font-weight: lighter; */
  margin-bottom: 2rem;
}

.table {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 4rem;
  justify-items: center;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .table {
    grid-auto-rows: 2rem;
  }
  .table_container {
    margin-top: 2rem;
  }
}